body{
    background-color: rgb(163,141,101);
}
a{
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: -2px -2px 0px 0px grey, 2px 2px 0px 0px black;
    /*box-shadow: -1px 0px 0px 1px grey, 1px 0px 0px 1px black, 0px -1px 0px 1px grey, 0px 1px 0px 1px black;*/
}

input{
    margin-top: 0px;
    margin-bottom: 20px;
}

.container{
    display: flex;
    flex-flow: column;
}

.header{
    order: 1;
    color: white;
    flex: 0 1 10vh;
}

.head{
    font-family: 'Ubuntu', serif;
    font-size: 26pt;
}
.text{
    font-family: 'Open Sans', serif;
    font-size: 18pt;
}

p{
    text-align: center;
}

.content{
    order: 2;
    color: white;
    flex: 1 1 60vh;
}

.footer{
    order: 3;
    flex: 0 1 4vh;
    color: white;
}

.footer p{
    text-align: right;
    margin-top: 15px;
}

.level{
    border: 2px solid rgb(52,58,64);
    background-color: lightcyan;
    flex-grow: 4;
    flex-shrink: 8;
    flex-basis: 80%;
    order: 1;
    min-height: 500px;
    min-width: 850px;
}

.game_content{
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 75vh;
}

.aside{
    flex-basis: 20%;
    min-width: 8em;
    min-height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    order: 2;
}

.press_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.press{
    font: 16pt 'Open Sans', serif;
    color: white;
    background-color: rgb(194, 56, 56);
    padding: 0.3em 2em;
    position: relative;
    margin-bottom: 40px;
}

.action{
    font: 22pt 'Ubuntu', serif;
}

.pic_content{
    height: inherit;
    width: inherit;
}

.reaction{
    display: none;
    position: absolute;
    z-index: 6;
    margin-top: 5%;
    margin-left: 17%;
    width: 42vw;
    height: 42vw;
    opacity: 0%;
}

.anim{
    animation-name: success;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes success{
  0%{
      opacity: 0%;
  }
  50%{
      opacity: 100%;
  }
  100%{
      opacity: 0%;
  }
}


@media all and (max-width: 1170px) {
    .game_content{
        flex-flow: column nowrap;
    }
    .level{
        order: 3;
    }
    .reaction{
        margin-top: 37%;
        margin-left: 13%;
        width: 70vw;
        height: 70vw;
    }
}

@font-face {
    font-family: "Open Sans";  
    src: url("../fonts/OpenSans.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
     
@font-face{
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
}